@import "src/assets/scss/index.scss";

.details {
  display: flex;
  padding: 40px 0;

  .joke-info {
    flex-basis: 60%;
    margin-right: 30px;

    .joke-card {
      padding: 16px;
      border: solid 1px $color-gray-2;
      border-radius: $border-radius-normal;
      margin-bottom: 16px;

      .joke-title {
        font-size: 40px;
        color: $color-orange-3;
        font-weight: bold;
        margin-bottom: 8px;
      }
  
      .joke-description {
        font-size: $font-size-medium;
        color: $color-gray-1;
      }
    }

    .thumbnails {
      display: flex;

      .thumb-wrapper {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &.up {
          background-color: $color-primary;
        }

        &.down {
          background-color: $color-danger;
        }
      }
    }
  }

  .top-jokes {
    flex: 1;
    padding: 32px;
    border: solid 1px $color-gray-2;
    border-radius: $border-radius-normal;
    color: $color-gray-1;

    .title {
      font-weight: bold;
      margin-bottom: 16px;
      text-transform: uppercase;
    }

    .joke-item {
      text-decoration: underline;
      margin-bottom: 8px;
    }
  }
}