$color-primary: #46915d;
$color-danger: #ff3750;
$color-light-green: #8fe360;
$color-orange-1: #ff9a5b;
$color-orange-2: #ffbe5b;
$color-orange-3: #cfb995;
$color-yellow: #ffdf5b;
$color-blue: #36aef3;
$color-white: #ffffff;
$color-gray-1: #303030;
$color-gray-2: #ecebe9;

$font-size-medium: 14px;
$font-size-small: 12px;
$font-size-large: 16px;

$border-radius-normal: 2px;
$button-height-normal: 48px;
$button-width-normal: 200px;
