@import "src/assets/scss/index.scss";

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $button-width-normal;
  height: $button-height-normal;
  font-size: $font-size-medium;
  text-transform: uppercase;
  cursor: pointer;
}

.custom-primary {
  background-color: $color-primary;
  color: $color-white;
}

.custom-danger {
  background-color: $color-danger;
  color: $color-white;
}

.custom-orange-1 {
  background-color: $color-orange-1;
  color: $color-white;
}

.custom-orange-2 {
  background-color: $color-orange-2;
  color: $color-white;
}

.custom-orange-3 {
  background-color: $color-orange-3;
  color: $color-white;
}

.custom-yellow {
  background-color: $color-yellow;
  color: $color-white;
}

.custom-blue {
  background-color: $color-blue;
  color: $color-white;
}

.custom-light-green {
  background-color: $color-light-green;
  color: $color-white;
}

.outlined {
  background-color: $color-white;
  border: solid 1px $color-orange-3;
  color: $color-orange-3;
  box-sizing: border-box;
}

