.jokes-list {
  padding: 60px 0;

  .buttons-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 32px;
  
    .button-container {
      padding: 0 10px;
      margin-bottom: 16px;
    }
  }

  .cards-container {
    display: grid;
    grid-column-gap: 15px;
    grid-row-gap: 38px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
